.box__img {
	position: relative;
	max-width: 400px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #ffffff54;
	overflow: hidden;
}
.box__img:hover .img__info {
	bottom: 0;
}
.box__img:hover .cross__info {
	top: 0px;
}
.img {
	width: 100%;
	object-fit: cover;
	object-position: center center;
}

.img__info {
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 100%;
	height: 35px;
	padding: 10px;
	background-color: #ffffff81;
	color: #000000;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	transition: ease-in-out 0.4s;
}
.cross__info {
	position: absolute;
	top: -35px;
	left: 0;
	width: 100%;
	height: 35px;
	padding: 10px;
	background-color: #ffffff81;
	transition: ease-in-out 0.4s;
}
