# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage



# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.gpx

npm-debug.log*
yarn-debug.log*
yarn-error.log*
webcam*.jpg

build/images/news/*
!build/images/news/.gitkeep
build/images/gallery/*
!build/images/gallery/.gitkeep