.webcam {
  flex-basis: 470px;
  flex-shrink: 0;
}

.screenShot {
  position: relative;
  padding-bottom: 56.25%;
  display: block;
  min-width: 320px;
  border: 1px rgba(255, 255, 255, 0.068) solid;
  border-radius: 10px;
  overflow: hidden;
  z-index: 5;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.title {
  opacity: 30%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
  padding: 10px;
  position: absolute;
  z-index: 6;
}

@media screen and (max-width: 992px) {
  .title {
    position: unset;
    opacity: 1;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.05em;
    padding: 10px 0px 15px 0px;
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 22px;
    padding-bottom: 10px;
    text-align: center;
  }
}
