.box__textarea {
	min-width: 400px;
	background-color: rgba(255, 255, 255, 0.12);
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.box__interactive {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.box__title {
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	margin-bottom: 15px;
	letter-spacing: 0.06rem;
}
.textarea {
	width: 100%;
	height: 157px;
	background-color: rgba(255, 255, 255, 0.12);
	border: 1px solid #f1f1f154;
	border-radius: 10px;
	padding: 15px;
	margin-right: 15px;
	color: #f1f1f1;
}
.textarea:focus {
	box-shadow: 0 0 0 3px #44bb3d;
}
.mr-10 {
	margin-right: 10px;
}
@media screen and (max-width: 447px) {
	.mr-10 {
		margin-right: 0;
	}
}
