.wrapper {
	flex: 1;
}
.title {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	letter-spacing: 0.05em;
	padding-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
.block {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
