.title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.05em;
  padding-top: 10px;
  text-align: left;
  margin-bottom: 0px;
}
.inner {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  gap: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .title {
    text-align: center;
    margin-bottom: 15px;
  }
  .inner {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 640px) {
  .inner {
    justify-content: center;
    gap: 15px 0px;
  }
}
