.box__avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 15px;
	overflow: hidden;
}
.comment {
	margin-bottom: 20px;
}

.avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
.box__user {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
.box__text {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.05rem;
	color: #f1f1f1;
	margin-bottom: 3px;
}
.relative {
	position: relative;
}
.box__menu {
	width: 35px;
	height: 15px;
	overflow: hidden;
	border-radius: 4px;
}
.box__menu:hover {
	background-color: #ffffff50;
	transition: ease-in-out 0.3s;
}
.menu__img {
	width: 100%;
	height: 100%;
	object-fit: none;
	object-position: 50% 50%;
}
.popup__menu {
	position: absolute;
	padding: 7px 15px;
	min-width: 140px;
	border-radius: 10px;
	top: -65px;
	left: 45px;
	color: #070707;
	background-color: #ff8c06;
	/* background-color: #003509; */
}
.popup__button {
	padding: 8px 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 10px;
	width: 100%;
	cursor: pointer;
	color: rgb(197, 0, 0);
}
.popup__button:hover {
	background-color: #c76c05;
	transition: ease-in-out 0.3s;
}
.name {
	margin-right: 10px;
}
.date {
	color: #ffffff50;
	font-size: 11px;
}
